.container {
	width: 300px;
	height: 300px;
	cursor: pointer;
	position: relative;
	display: flex;
}

.info {
	position: absolute;
	background: #fff;
	border: 2px solid var(--color-button-light);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 260px;
	height: 260px;
	z-index: 0;
	border-radius: 50%;
}

.statistic {
	width: 100%;
}

.statistic__item {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}

.statistic__item_hover {
	color: salmon;
	text-decoration: underline;
}

.statistic__item:hover {
	color: salmon;
	text-decoration: underline;
}